.pagination {
  display: flex;
  gap: 0.375rem;
}

.pagination__page {
  border: none;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: var(--color-gray-100);
}

.pagination__page_active {
  background-color: var(--color-gray-300);
}

.pagination__total-slides {
  color: var(--color-gray-300);
  opacity: 0.6;
}
