.player-card {
  font-family: "Golos Text", serif;
  display: grid;
  /* row-gap: 1.75rem; */
  place-items: center;
  text-align: center;
}

.player-card__title {
  margin-top: 1.75rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.player-card__text {
  color: var(--color-gray-300);
  font-size: 1.25rem;
  font-weight: 400;
  opacity: 60%;
}

.player-card__link {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  font-size: 1rem;
  border-width: 1px;
}

@media (min-width: 1366px) {
  .player-card__image {
    width: 20rem;
    height: 20rem;
  }
}
