@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  src: local("Merriweather"),
    url("/assets/fonts/Merriweather-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  src: local("Merriweather"),
    url("/assets/fonts/Merriweather-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: local("Golos Text"),
    url("/assets/fonts/GolosText-VariableFont.woff2") format("woff2");
  font-display: swap;
}

.font-merriweather {
  font-family: "Merriweather", serif;
}

.font-golos-text {
  font-family: "Golos Text", sans-serif;
}
