.wrapper {
  max-width: 1440px;
  padding-inline: 1.125rem;
  margin-inline: auto;
}

.section {
  padding-top: 6.875rem;
}

.mobile-hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 1366px) {
  .desktop-hidden {
    display: none;
  }

  .section {
    padding-top: 12.5rem;
  }

  .mobile-hidden {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding-inline: 2.25rem;
  }
}

@media (min-width: 1366px) {
  .wrapper {
    padding-inline: 4.5rem;
  }
}
