.hero {
  padding-top: 1.125rem;
  background-image: url(/assets/images/hero_375.webp);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 812px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(/assets/images/hero_768.webp);
    height: 700px;
  }
}

@media (min-width: 1024px) {
  .hero {
    background-image: url(/assets/images/hero_1366.webp);
    padding-top: 2rem;
  }
}

@media (min-width: 1366px) {
  .hero {
    padding-top: 1.5rem;
    background-image: url(/assets/images/hero_1366.webp);
  }
}

@media (min-width: 1920px) {
  .hero {
    background-image: url(/assets/images/hero_1920.webp);
  }
}
